# GitHub Actions workflows
/.github/workflows/ @adgem/sdk-developers

# Gradle Kotlin 
/build.gradle.kts @adgem/sdk-developers
/settings.gradle.kts @adgem/sdk-developers
/app/build.gradle.kts @adgem/sdk-developers
/gradle/** @adgem/sdk-developers